%%-*- mode: erlang -*-
{fail_on_warning, false}.
{cover_enabled, false}.
{edoc_opts, [{preprocess, true}]}.
%{eunit_exclude_deps, true}.
{eunit_opts, [{verbose, true}, {skip_deps, true}]}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, false}.

%% Option to pass extra parameters when launching Common Test
%{ct_extra_params, "-boot start_sasl -s application start log4erl"}.

% added deps in lib_dirs to enable them in tests
{lib_dirs, ["deps", "../"]}.

{sub_dirs, ["rel"]}.

{plugins, [rebar_scm_plugin]}.

{scm, {svn, "http://www.some/svn/trunk"}}.

%{deps, [
%       {rebar, "2", {git, "git://github.com/basho/rebar"}}
%]}.
